/* 시음회 상세 */
.taste-view-wrap {
  width: 1000px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 10px;
}
.taste-view-title {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #4f4f4f;
}
.taste-view-info {
  text-align: right;
  height: 50px;
}
.taste-view-info > :last-child {
  float: right;
  font-size: 1.1em;
  color: #4f4f4f;
}
.taste-view-file {
  clear: both;
  text-align: center;
  margin: 20px 0;
}
.taste-view-detail {
  text-align: center;
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 1.1em;
  color: #4f4f4f;
}
.taste-view-detail > p > img {
  /* width: 100%; */
}
.guide-party-date {
  text-align: center;
  padding-bottom: 50px;
}
.guide-party-date > div {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #4f4f4f;
}
.guide-party-date > span {
  font-size: 1.1em;
  margin: 0 10px;
  color: #4f4f4f;
}
.taste-view-btn {
  width: 1000px;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 5px;
}
.taste-modify-btn {
  margin-right: 10px;
  width: 100px;
  height: 41.28px;
  background-color: #4f4f4f;
  color: #fff;
  font-family: ns-b;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.dosent-login-toList {
  width: 100px;
  height: 41.28px;
  background-color: #4f4f4f;
  color: #fff;
  font-family: ns-b;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.logined-toList {
  margin-right: 10px;
  width: 100px;
  height: 41.28px;
  background-color: #4f4f4f;
  color: #fff;
  font-family: ns-b;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.logined-toList-admin {
  width: 100px;
  height: 41.28px;
  background-color: #4f4f4f;
  color: #fff;
  font-family: ns-b;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.taste-delete-btn {
  margin-right: 10px;
  width: 100px;
  height: 41.28px;
  background-color: #4f4f4f;
  color: #fff;
  font-family: ns-b;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.taste-view-btn > button {
  width: 100px;
  font-family: ns-b;
}
.taste-view-btn > .reservation-button {
  height: 41.28px;
  background-color: #ff6289;
  color: #fff;
  font-family: ns-b;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.taste-view-btn > .disabled-reservation-button {
  height: 41.28px;
  background-color: #b9b9b9;
  color: #fff;
  font-family: ns-b;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/*예약 날짜 선택*/
.reservation-wrap {
  width: 700px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 10px;
}
.reservation-title {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #4f4f4f;
}
.reservation-calendar-wrap {
  padding: 10px;
  padding-bottom: 60px;
}
.calendar-guide {
  font-size: 1.1em;
  margin-bottom: 50px;
  color: #4f4f4f;
}
.calendar {
  text-align: center;
  font-size: 1.1em;
}
.calendar > span {
  color: #4f4f4f;
}
.calendar > :nth-child(3) {
  margin: 0px 10px;
}
.react-calendar {
  margin: 0 auto;
  margin-bottom: 50px;
}
.reservation-btn {
  width: 700px;
  margin: 0 auto;
  text-align: right;
}
.reservation-btn > :first-child {
  margin-right: 10px;
}
.reservation-btn > button {
  width: 100px;
  font-family: ns-b;
}
.calendar-next-btn {
  width: 100px;
  height: 41.28px;
  background-color: #ff6289;
  color: #fff;
  font-family: ns-b;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/*예약 내역 확인*/
.reservation-info {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.1em;
  overflow: hidden;
}
.reservation-info span {
  color: #4f4f4f;
}
.reservation-info-member {
  margin-bottom: 15px;
}
.reservation-info-member > :last-child {
  float: right;
}
.reservation-info-date {
  margin-bottom: 40px;
}
.reservation-info-date > :last-child {
  float: right;
}
.reservation-direction > :last-child {
  float: right;
}
.confirm-done-btn {
  width: 100px;
  height: 41.28px;
  background-color: #ff6289;
  color: #fff;
  font-family: ns-b;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/*예약 완료*/
.reservation-done-guide {
  padding: 50px;
  text-align: center;
  font-size: 1.1em;
}
.reservation-done-guide div span {
  color: #4f4f4f;
}
.reservation-done-guide > :nth-child(2) {
  margin-top: 10px;
  font-size: 0.8em;
}
.reservation-done-guide > :nth-child(2) > span {
  font-weight: bold;
}

.reservation-done-guide > :nth-child(3) {
  font-size: 0.8em;
}
.reservation-done-guide > :nth-child(3) > span {
  font-weight: bold;
  color: #ff6289;
}
.reservation-done-guide > :last-child {
  margin-top: 5px;
  font-size: 0.8em;
}
.reservation-done-guide > :last-child > span {
  font-weight: bold;
}
.reservation-done-guide > :last-child > span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.reservation-done-btn {
  width: 700px;
  margin: 0 auto;
  text-align: right;
}
.reservation-done-btn > button {
  width: 100px;
  font-family: ns-b;
}
