.admin-wrap {
  width: 1200px;
  margin: 30px auto;
}
.admin-title {
  font-size: 24px;
  font-family: ns-b;
  padding: 30px 10px;
  border-bottom: 2px solid #4f4f4f;
  color: #4f4f4f;
}
.admin-side {
  width: 200px;
}
.admin-side > ul {
  list-style-type: none;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 0;
}
.admin-side > ul > li > a {
  display: block;
  padding: 10px;
  color: #4f4f4f;
}
.admin-side > ul > li > a.active-side {
  background-color: #4f4f4f;
  color: #fff;
  font-weight: 700;
}
.admin-content {
  display: flex;
  justify-content: space-evenly;
}
.admin-menu-content {
  width: 900px;
  margin: 30px auto;
}

.admin-content-title {
  padding-bottom: 30px;
  font-family: ns-b;
  font-size: 22px;
  color: #4f4f4f;
}

.admin-content-tbl > table > thead > tr > td {
  color: #4f4f4f;
}

.searchDate-btnBox-wrap {
  width: 100%;
}

.searchDate-btnBox-title {
  font-family: ns-b;
  margin-left: 311px;
  color: #4f4f4f;
}
.searchDate-btnBox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.incomeChart-wrap {
  font-size: 0.9em;
}

.searchDate-calendar {
  width: 25%;
  margin: 10px;
  font-size: 0.9em;
}
.searchDate-calendar > .css-bkzwk2-MuiStack-root {
  align-items: center;
}

.css-dk32bg-MuiStack-root
  .MuiTextField-root
  > .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  left: -1px;
  font-family: ns-r;
  color: #4f4f4f;
}

.css-dk32bg-MuiStack-root
  .MuiTextField-root
  > .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 5px;
  color: #4f4f4f;
  font-size: 0.9rem;
  font-family: ns-r;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root
  > .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.5rem;
}
.searchDate-btn {
  padding-top: 8px;
}
.searchDate-btn > button {
  padding: 0.55rem 0.8rem;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mx-2-wrap {
  margin-left: 10px;
}
.mx-2 {
  margin-left: 5px;
}
.custom-tooltip {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(253, 243, 253);
}
.tooltipLabelTitle {
  text-align: center;
  font-family: ns-b;
  margin-bottom: 10px;
}
.custom-tooltip-tbl {
  border-collapse: collapse;
}
.tooltipLabel:last-child {
  border-top: 1px solid #ccc;
}
.tooltipLabel > td {
  padding: 0.5rem;
  font-family: ns-r;
}
.admin-content-tbl {
  border-bottom: 1px solid #ddd;
}
.admin-content-tbl > table {
  width: 100%;
  border-spacing: 0;
}

.admin-content-tbl > table > thead td {
  font-family: ns-b;
  border-bottom: 1px solid #4f4f4f;
  border-top: 1px solid #4f4f4f;
}

.admin-content-tbl > table td {
  text-align: center;
  padding: 13px 5px;
}
.admin-content-tbl > table > tbody > tr:hover {
  background-color: #eee;
}
.emptyList {
  background-color: #eee;
}
.emptyList > img {
  width: 40%;
}

.admin-paging-wrap {
  margin-top: 50px;
}

.admin-product-stock-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.admin-product-stock-text {
  width: 25%;
  margin: 0px 5px;
}
.admin-product-stock-text > input {
  text-align: center;
  padding: 0.5rem;
}

.stock-mg-btn {
  color: #ff6289;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.admin-change-btn-box {
  width: 70%;
  margin: 0 auto;
}
