.cart-all-wrap {
  width: 1200px;
  margin: 50px auto;
}
.cart-title {
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: bold;
  color: black;
  align-items: center;
  display: flex;
}
.cart-title > .material-icons {
  font-size: 22px;
  color: black;
}
.cart-number {
  margin-left: 5px;
  margin-top: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  line-height: 25px;
  color: #fff;
  font-size: 14px;
}
.cart-tbl > table {
  width: 100%;
  border-spacing: 0;
}
.cart-tbl td {
  text-align: center;
  padding: 10px 5px;
}
.cart-tbl td.info-td {
  text-align: left;
}
.cart-tbl tbody > tr > td.info-td > .material-icons {
  top: 10px;
  right: 10px;
  position: absolute;
}
.cart-tbl tbody > tr > td.info-td {
  align-items: center;
  display: flex;
  position: relative;
}
.cart-tbl td.info-td > .product-img {
  width: 40%;
  cursor: pointer;
}
.cart-tbl td.info-td > .product-img > img {
  width: 150px;
  height: 150px;
}
.cart-tbl td.info-td > .product-name {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.cart-tbl td > .product-quantity-wrap {
  display: flex;
  justify-content: center;
}
.cart-tbl td > .product-quantity-wrap > span {
  margin-left: 10px;
}
.product-quantity {
  font-weight: bold;
}
.product-price {
  font-weight: bold;
}
.cart-tbl > table > thead td {
  border-bottom: 2px solid #4f4f4f;
  border-top: 2px solid #4f4f4f;
  color: #4f4f4f;
  font-family: ns-b;
}
.cart-tbl > table > tbody td {
  border-bottom: 1px solid #f0f0f0;
}
.cart-tbl > table > tbody > tr:last-child > td {
  border-bottom: 2px solid #4f4f4f;
}
.cart-btn {
  margin-top: 5px;
}
.cart-btn > button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
}
.delete-btn {
  margin-top: 20px;
}
.delete-btn > button {
  width: 150px;
  margin-left: 10px;
  font-size: 15px;
}
.material-icons {
  cursor: pointer;
  font-size: 20px;
}
.cart-price-tbl {
  margin-top: 50px;
}
.cart-price-tbl > table {
  width: 100%;
  border-spacing: 0;
}
.cart-price-tbl > table > thead td {
  text-align: left;
  padding: 10px 5px;
  border-bottom: 2px solid #4f4f4f;
  border-top: 2px solid #4f4f4f;
  color: #4f4f4f;
}
.cart-price-tbl > table > thead td > span {
  font-family: ns-b;
}
.cart-price-tbl > table > tbody td {
  text-align: center;
  padding: 30px 5px;
  border-bottom: 2px solid #4f4f4f;
}
.cart-price {
  font-size: 24px;
  font-weight: bold;
}
.cart-price-tbl > .pay-btn {
  text-align: center;
  margin-top: 30px;
}
.cart-price-tbl > .pay-btn > button {
  width: 150px;
  font-size: 15px;
}
.cart-price-tbl > .more-shopping {
  text-align: center;
}
.more-shopping {
  margin-top: 10px;
}
.more-shopping > a {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
