.pay-all-wrap {
  background-color: #f0f0f0;
}
.pay-wrap {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  overflow: hidden;
}
.pay-title {
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: bold;
  color: black;
}
.left-wrap {
  width: 500px;
}
.right-wrap {
  width: 400px;
}
.pay-product-info-wrap {
  background-color: #fff;
  padding-left: 20px;
}
.pay-product-info-wrap > h3 {
  padding: 10px 0px;
}
.pay-product-info {
  display: flex;
}
.pay-product-img {
  width: 30%;
}
.pay-product-img > img {
  width: 100px;
  height: 100px;
}
.pay-product-info-detail {
  width: 70%;
}
.pay-pickup1-info {
  background-color: #fff;
}
