.product-detail-tab .css-11yukd5-MuiTabs-indicator {
  height: 3px;
  background-color: #4f4f4f;
}
#simple-tab-1,
#simple-tab-0,
#simple-tab-2 {
  font-weight: bold;
  font-size: 16px;
}
.product-detail-info-content {
  padding-top: 50px;
}
.pickup-content {
  padding: 20px 0;
}
.pickup-content > div {
  font-family: ns-b;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.phone-info {
  display: flex;
  align-items: center;
}
#simple-tabpanel-0 {
  text-align: center;
}
/*상품후기*/
.product-detail-review-content {
  padding: 50px;
}
.review-title {
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
}
.review-tbl {
  width: 100%;
  border-spacing: 0;
}
.review-tbl > thead th {
  background-color: #eee;
  padding: 15px;
}
.review-tbl > tbody td {
  text-align: center;
}
