.btn {
  width: 100%;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
}
.st1 {
  background-color: black;
}
.st2 {
  background-color: #4f4f4f;
}
.st3 {
  color: black;
  border: 1px solid #eee;
}
.st4 {
  background-color: #ff6289;
  font-family: ns-b;
}

.st5 {
  color: black;
  background-color: transparent;
  border: 2px solid #ccc;
  font-family: ns-r;
}
.st5:hover {
  background-color: #4f4f4f;
  border: none;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}
