/*예약 등록 페이지*/
.react-calendar__navigation button:disabled {
  background-color: #fff;
}
.react-calendar__tile:disabled {
  background-color: #fcedf2;
}
.react-calendar__tile--active {
  background-color: #ff6289;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #ff6289;
}
.react-calendar__tile--now {
  background: #a3a3a3;
  color: #fff;
}
.react-calendar__tile--now:enabled:hover {
  background: #a3a3a3;
}
