.my-order-tbl > table {
  width: 100%;
  border-spacing: 0;
}
.my-order-tbl > table td {
  text-align: center;
  padding: 5px;
}
.my-order-tbl > table > thead td {
  padding: 13px 0;
  font-family: ns-b;
  border-top: 1px solid #4f4f4f;
  border-bottom: 1px solid #4f4f4f;
}
.my-order-tbl > table > tbody > tr > td > img {
  width: 80px;
}
.my-order-tbl > table > tbody td {
  padding: 10px 0;
  /* border-bottom: 1px solid #eee; */
  font-size: 0.9rem;
  font-family: ns-r;
}
.my-order-tbl > table > tbody td:nth-child(4) {
  text-align: left;
  padding-left: 20px;
}
.my-order-tbl > table > tbody td:last-child {
  padding-left: 20px;
}
.order-status-btn-box {
  width: 100px;
}
.emptyOrder {
  height: 500px;
}
.my-order-tbl-tr > td:nth-child(4) {
  cursor: pointer;
}
/*리뷰쓰기 버튼*/
.order-status-btn-box .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-family: ns-r;
  color: black;
  background-color: transparent;
  border: 2px solid #ccc;
  width: 100px;
}
.order-status-btn-box .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  color: #fff;
  background-color: #4f4f4f;
  border: none;
  font-weight: bold;
  transition: 0.5s;
}
/*리뷰 모달*/
#modal-title {
  text-align: center;
  font-size: 30px;
  font-family: ns-b;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}
#modal-description {
  padding: 30px 0;
  height: 500px;
  overflow: auto;
}
.modal-review-content {
  width: 100%;
  border-spacing: 0;
}
.modal-review-content > tbody th {
  width: 15%;
}
.modal-review-content td {
  padding: 20px;
}
.review-content > .quill .ql-editor {
  height: 500px;
}
/*상세제목 인풋*/
input[id="reviewTitle"] {
  outline: none;
  height: 40px;
  width: 98%;
  border: none;
  background-color: #eee;
  padding-left: 10px;
  font-size: 18px;
}
/*별점 컴포넌트*/
#star-rate {
  font-size: 2.5rem;
  color: #ff6289;
}
/*리뷰 모달 - 이용약관*/
.review-privacy-agree {
  padding: 30px 0;
  width: 90%;
  margin: 0 auto;
}

.review-agree-check .css-ahj2mt-MuiTypography-root {
  padding: 20px 0;
  font-family: ns-l;
  font-size: 24px;
  line-height: 1.3;
}
.review10 {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.review10 thead th {
  height: 45px;
  width: 50%;
  border-bottom: 1px solid black;
}
.review10 tbody td:not(.no-border-left) {
  border-left: 1px solid #ccc;
}
.review10 > tbody > tr > td {
  text-align: center;
  height: 40px;
}
.review11 {
  list-style-position: inside;
  padding: 10px 0;
}
.review11 > li:first-child {
  font-weight: bold;
  text-decoration: underline;
}
.review-agree-check
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #ff6289;
}
.review-btn {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.review-btn > button {
  width: 200px;
  margin-right: 20px;
}
/*리뷰모달과 알림창 순서 바꾸기*/
div:where(.swal2-container) {
  z-index: 1;
}
body > .css-79ws1d-MuiModal-root {
  z-index: 0;
}
.review-agree-check .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  color: rgba(255, 98, 137, 0.5);
}
