.my-reviewList-tbl > table {
  width: 100%;
  border-spacing: 0;
}
.my-reviewList-tbl > table td {
  text-align: center;
  padding: 5px;
}
.my-reviewList-tbl > table > thead td {
  font-family: ns-b;
  border-bottom: 1px solid #4f4f4f;
}
.my-reviewList-tbl > table > tbody td {
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}
.emptyReview {
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-family: ns-r;
}
.moveToDetail {
  cursor: pointer;
}
.review-modify-btn > div > .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  height: 41px;
  color: #4f4f4f;
  font-family: ns-b;
  border: 1px solid #ccc;
}
.review-modify-btn
  > div
  > .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: black;
  color: #fff;
  border: none;
  font-weight: bold;
}
.moveToDetail > td:last-child > button {
  font-weight: bold;
}
