.my-reservation-tbl {
  border-bottom: 1px solid #ddd;
}
.my-reservation-tbl > table {
  width: 100%;
  border-spacing: 0;
}
.my-reservation-tbl > table td {
  text-align: center;
  padding: 5px;
}
.my-reservation-tbl > table > thead td {
  font-family: ns-b;
  padding: 13px 0;
  border-top: 1px solid #4f4f4f;
  border-bottom: 1px solid #4f4f4f;
  color: #4f4f4f;
}
.my-reservation-tbl > table > tbody > tr > td > img {
  width: 80px;
}
.my-reservation-tbl > table > tbody td {
  padding: 10px 0;
  /* border-bottom: 1px solid #eee; */
  font-size: 0.9rem;
  font-family: ns-r;
}
.my-reservation-tbl > table > tbody > tr > :nth-child(3) > div > button {
  color: #ff6289;
  font-family: ns-r;
  font-size: 14.4px;
}
.my-reservation-tbl > table > tbody > tr > :nth-child(3) > div > button:hover {
  background-color: #ffebf0;
}
.my-reservation-tbl > table > tbody td:nth-child(4) {
  text-align: left;
  padding-left: 20px;
}
.my-reservation-tbl > table > tbody td:last-child {
  padding-left: 40px;
}
.order-status-btn-box {
  width: 100px;
}
.order-status-btn-box > button {
  font-family: ns-b;
}
.emptyOrder {
  height: 300px;
}
.content-btn {
  padding-left: 10px;
}
.cancel {
  padding-left: 17px;
}
.enjoy {
  padding-left: 17px;
  color: #ff6289;

  font-weight: bold;
}
.date {
  padding-left: 17px;
  text-align: center;
  margin: 0 auto;
  padding-right: 20px;
}
.date > p {
  font-family: ns-r;
}
.my-book-tbl > td > div {
  font-family: ns-r;
}
.my-book-tbl {
  height: 80px;
}
