.my-wish-list {
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
  border-top: 1px solid #4f4f4f;
  /* border-bottom: 1px solid #ddd; */
}
.wish-item {
  float: left;
  width: calc(100% / 3);
  height: 400px;
  padding-top: 30px;
  padding-bottom: 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.wish-item-img {
  text-align: center;
  position: relative;
}
.wish-item-img > img {
  width: 70%;
  height: 300px;
  object-fit: contain;
}
.wish-item-img:hover {
  opacity: 0.8;
}
.deleteWish {
  font-size: 26px;
}
.deleteWish:hover {
  color: #ff6289;
}
/* .close-span {
  position: relative;
  left: 100px;
  bottom: 25px;
} */
.wish-item-info > div {
  text-align: center;
  font-size: 18px;
}
.wish-item-info > :first-child {
  margin-bottom: 5px;
}
.emptyWish {
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-family: ns-r;
}

/* 품절 */

.wish-sold-out-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.wish-sold-out {
  position: absolute;
  left: 0;
  top: 0;
  width: 210px;
  height: 280px;
  display: table;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 10px 45px;
}
.wish-sold-out-image {
  display: table-cell;
  vertical-align: middle;
  height: 305px;
}
.wish-sold-out-image > img {
  width: 70%;
}
.wish-sold-out > p {
  display: table-cell;
  vertical-align: middle;
}
