.delete-input-wrap {
  width: 500px;
  margin: 0 auto;
}
.delete-input-wrap > div {
  padding: 10px 0;
}
/* .delete-input-wrap > div > label {
  font-family: ns-b;
} */
.delete-input-wrap > div > .input {
  padding: 10px 0;
}

.delete-btn-box > button {
  font-family: ns-b;
  font-size: 18px;
  float: left;
}
.delete-btn-box > button:hover {
  background-color: #4f4f4f;
  color: #fff;
  transition: 0.5s;
}
.delete-input-wrap > div > .check-msg {
  text-align: left;
  font-family: ns-r;
}
.check_btn{
  width: 100px;
  margin-top: 20px;
  float: left;
}
.delete-input-wrap > div > input{
 width: 60%;
 float: left;
 margin-right: 20px

}
.delete-input-wrap > div > button{
  width: 100px;
}
.title{
  margin-bottom: 10px;
}
.title > label{
  font-family: ns-b;
}
.delete-input-wrap > div{
  overflow: hidden;
}

