.login-wrap {
  width: 400px;
  margin: 0 auto;
}
.login-title {
  text-align: center;
  color: black;
  font-family: ns-black;
  font-size: 30px;
  padding: 50px;
}
.input-wrap > label {
  display: block;
  padding: 10px 0px;
  color: black;
  font-family: ns-b;
}
.login-wrap .login {
  width: 400px;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.search-box > a {
  font-size: 0.9em;
  font-family: ns-r;
  height: 20px;
  line-height: 20px;
  color: #4f4f4f;
}
.search-box > a:hover {
  text-decoration: underline;
}
.find {
  font-size: 0.9em;
  font-family: ns-r;
  height: 20px;
  line-height: 20px;
}
.find_btn:hover {
  text-decoration: underline;
}

.find_btn {
  cursor: pointer;
}

.search-box > span {
  font-size: 22px;
  transform: rotate(90deg);
}
.login-btn-box > button {
  margin: 20px 0px;
  font-size: 18px;
}
.search-box > :first-child > button {
  color: #ff6289;
}
.search-box > :nth-child(3) > button {
  color: #ff6289;
}

.search-box > :first-child > button:hover {
  background-color: #fff7f9;
}
.search-box > :nth-child(3) > button:hover {
  background-color: #fff7f9;
}
