
.login-wrap {
    width: 400px;
    margin: 0 auto;
  }
  .login-title {
    text-align: center;
    color: #071952;
    font-family: ns-black;
    font-size: 30px;
    padding: 50px;
  }
  .input-wrap {
   margin: 0 auto;
  }

  .input-wrap > label {
    display: block;
    padding: 10px 0px;
    color: #071952;
    font-family: ns-b;
   
  }
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
  .search-box > a {
    font-size: 0.9em;
    height: 20px;
    line-height: 20px;
  }
  .search-box > a:hover {
    text-decoration: underline;
  }
  .find {
    font-size: 0.9em;
    height: 20px;
    line-height: 20px;
  }
  .find:hover {
    text-decoration: underline;
  }

  
  .search-box > span {
    font-size: 22px;
    transform: rotate(90deg);
  }
  .login-btn-box>button {
    margin: 20px 0px;
    font-size: 18px;
  }
  .Search_id_result {
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
    height: 280px;
    border: solid 1px #ababab;
}

.Search_id_result p { color: #ababab; }
.Search_id_result_div { margin-top: 50px; }
.Search_id_result_div div { margin-bottom : 50px;}
.Search_id_result_div h5 { height: 5px; }