.input-wrap { 
    width: 350px;
}
.btn-box{
    width: 350px;
}
#modal-modal-description{
    width: 350px;
}
.Search_id_result{
    text-align: center;
    padding: 1em;
    margin-bottom: 30px;
}
.Search_id_result_div{
   text-align: center;
    padding: 1em;
    margin-bottom: 30px;
}
.Search_id_result_div>div>h5{
 font-size: 20px;
}

.find_btn{
    font-family: ns-r;
    color: #FF6289;
    font-size: 0.9em;
}
 #modal-modal-description{
    overflow: hidden;
 }
.emailauthinput{
    width: 65%;
    float: left;
}
.authButton{
    width: 30%;
    padding-left: 15px;
    float: left;
}
.authclear{
    margin: 0 auto;
    width: 80%;
}
.timer{
    color: #FF6289;
}
#modal-modal-title{
    font-family: ns-b;
}
.quit_off{
    float: right;
    cursor: pointer;
}
.pw-input-wrap > div{
    margin: 0;
}
.pw-input-wrap > div> label{
    width: 150px;
}
.input-form >input{
    width: 100px;
}