.input-wrap { 
    width: 350px;
}
.btn-box{
    width: 350px;
}
#modal-modal-description{
    width: 350px;
}
.Search_id_result{
    text-align: center;
    padding: 1em;
    margin-bottom: 30px;
}
.Search_id_result_div{
   text-align: center;
    padding: 1em;
    margin-bottom: 30px;
}
.Search_id_result_div>div>h5{
 font-size: 20px;
}

.find_btn{
    color: #FF6289;
    font-size: 0.9em;
}
 
/* .search-box > span {
    font-size: 22px;
    transform: rotate(90deg);
  }
  .login-btn-box>button {
    margin: 20px 0px;
    font-size: 18px;
  }
  .Search_id_result {
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
    height: 280px;
    border: solid 1px #ababab;
}

.Search_id_result p { color: #ababab; }
.Search_id_result_div { margin-top: 50px; }
.Search_id_result_div div { margin-bottom : 50px;}
.Search_id_result_div h5 { height: 5px; } */