<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.skb.product.model.dao.ProductDao">
	<select id="totalCount" resultType="int">
		select count(*) from product
	</select>
	
	<select id="selectAllProduct" resultType="product">
		select * from
			(select rownum as rnum, p.* from
				(select * from product order by 1) p
			)
		where rnum between #{start} and #{end}
	</select>
	
	<update id="updateStock">
		update product set product_stock = #{productStock} where product_no = #{productNo}
	</update>
	
	<insert id="insertProduct">
	  	insert into product values (product_seq.nextval,#{productCase},#{productName},#{productAlc},#{productLiter},
	  								#{productInfo},#{productPrice},#{productStock},0,#{productFilepath})
	</insert>
</mapper>