<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.skb.qna.model.dao.QnaDao">

  	<!-- 전체 게시물 수(공개된 게시물) -->
	<select id="totalCount" resultType="int">
		select count(*) from qna
	</select>
	
	<!-- 페이지 네비게이션 및 게시물 개수 조회 --> 
 	<select id="selectQnaList" resultType="qna">
		SELECT * FROM 
		    (SELECT ROWNUM AS RNUM, B.* FROM
		        (SELECT
		            QNA_NO, 
		            QNA_TITLE, 		            
		            TO_CHAR(QNA_DATE, 'YYYY-MM-DD') AS QNA_DATE,
		            QNA_STATUS
		        FROM QNA
		        JOIN MEMBER ON (QNA_MEMBER_NO = MEMBER_NO) 
		        ORDER BY 1 DESC)B)
		WHERE RNUM BETWEEN #{start} AND #{end}
 	</select>
 	
 	<!-- 게시글 작성 --> <!-- 임시회원번호: 1 /#{noticeMemberNo} -->
 	<insert id="insertQna">
 		insert into qna values(qna_seq.nextval, 1, #{qnaTitle}, #{qnaContent}, sysdate, 1)
 	</insert>
 	
 	<!-- 게시글 상세보기 -->
 	<select id="selectOneQna" resultMap="getQna">
 		select qna_no, qna_title, qna_content from qna where qna_no=#{qnaNo}
 	</select>
 	<resultMap type="qna" id="getQna">
		<result column="qna_no" property="qnaNo"/>
		<result column="qna_title" property="qnaTitle"/>
		<result column="qna_content" property="qnaContent"/>
	</resultMap>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteQna">
		delete from qna where qna_no=#{qnaNo}
	</delete>
	
	<!-- 게시물 수정 - board테이블 변경 -->
	<update id="updateQna">
		update qna set qna_title=#{qnaTitle}, qna_content=#{qnaContent} where qna_no=#{qnaNo}
	</update>
	
	<!-- 댓글 작성 -->
	<insert id="registAnswer">
		insert into answer values(answer_seq.nextval, #{answerQnaNo}, 62, #{answerContent}, sysdate)
		<selectKey resultType="int" order="AFTER" keyProperty="answerNo"><!-- order: 위 쿼리를 수행한 후 수행 / selectKey를 통해 나온 결과물이 'board'의 'boardNo'에 들어간다. key:value -->
			select max(answer_no) from answer <!-- board_no 중 제일 큰 숫자 / 방금 넣은 board_no -->
		</selectKey>
	</insert>
	<!-- 댓글 작성 후 가장 최근의 댓글을 조회 -->
	<select id="printRecentAnswer" resultType="answer">
		select answer_no, answer_date, answer_content from answer where answer_no=#{answerNo}
	</select>
	
	<!-- 댓글 출력 -->
	<select id="printAnswer" resultType="answer">
		select answer_no, answer_date, answer_content from answer where answer_qna_no=#{answerQnaNo}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteAnswer">
		delete from answer where answer_no=#{answerNo}
	</delete>
</mapper>
