<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.skb.reservation.model.dao.ReservationDao">
	<select id="totalCount" resultType="int">
		select count(*) from reservation where reservation_status = 2
	</select>
	<select id="totalCount2" resultType="int">
	select count(*) from reservation join member on (member_no = reservation_member_no) where member_id=#{memberId}
	</select>

	
	<select id="selectAllReservation" resultType="reservation">
		select * from
		    (select rownum as rnum, r.* from 
		        (select reservation_no, reservation_date, reservation_String_no, member_id as reservation_member_id, taste_title as reservation_taste_title, reservation_status
		        from reservation join member on (reservation_member_no = member_no) join taste on (reservation_taste_no = taste_no)
		        where reservation_status = 2 order by reservation_no) r
		    )
		where rnum between #{start} and #{end}
	</select>
	
	<update id="updateReservationStatus">
		update reservation set reservation_status = 3 where reservation_no = #{reservationNo}
	</update>
	
	<select id="myReservationList" resultType="reservation">
	select * from
		    (select rownum as rnum, r.* from 
		        (select taste_start, taste_end,reservation_taste_no,reservation_no,to_char(reservation_date,'yyyy-mm-dd' )as reservation_date, reservation_String_no, taste_title as reservation_taste_title, reservation_status,taste_filepath
		        from reservation join member on (reservation_member_no = member_no) join taste on (reservation_taste_no = taste_no)
		        where member_id=#{memberId} order by reservation_no desc) r
		    )
		where rnum between #{start} and #{end}
	</select>
	
	<update id="changeDate">
	update reservation set reservation_date = #{reservationDate} where reservation_no = #{reservationNo}
	</update>
	
	<delete id="delete">
	 <!-- delete from reservation where reservation_no=#{reservationNo} 관리자에게 취소요청  -->
	update reservation set reservation_status = 2 where reservation_no = #{reservationNo}
	</delete>
	
	<!-- 시음회 중복 예약 방지 메서드 -->
	<select id="myReservationList2" resultType="reservation">
		select * from reservation left join member on (reservation_member_no = member_no) where member_no=#{memberNo}
	</select>
</mapper>