<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.skb.review.model.dao.ReviewDao">
  <insert id="insertReview">
  	insert into review values
  	(review_seq.nextval,#{reviewMemberNo},#{reviewProductNo},#{reviewTitle},#{reviewContent},#{reviewRate},0,sysdate)
  </insert>
</mapper>
