<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.skb.taste.model.dao.TasteDao">

<select id="totalCount" resultType="int">
		select count(*) from taste
	</select>
	
	<select id="selectPartyList" resultType="taste">
	select * from
			(select rownum as rnum, T.* from(
				(select taste_no,taste_title,taste_filepath,to_char(taste_end,'yyyy-mm-dd' )as taste_end,to_char(taste_start,'yyyy-mm-dd' )as taste_start from taste order by taste_end desc ) T )
			)
		where rnum between #{start} and #{end}
	</select>

	<select id="selectOneBoard" resultType="taste">
		select 
		taste_no,
		taste_member_no,
		taste_title,
		taste_content,
		taste_filepath,
		to_char(taste_end,'yyyy-mm-dd' )as taste_end,
		to_char(taste_start,'yyyy-mm-dd' )as taste_start
		from taste
		join member on(taste_member_no = member_no)
		where taste_no =#{tasteNo}
	</select>
	
	<!-- 시음회 게시글 상세보기 -->
	<select id="selectOneTaste" resultType="taste">
		select * from taste join member on(taste_member_no = member_no) where taste_no=1
	</select>
</mapper>
