.party-all-wrap {
  width: 1200px;
  margin: 50px auto;
}
.party-title {
  text-align: center;
  margin: 50px 0;
  font-weight: bold;
  color: black;
}
.party-list-wrap {
  overflow: hidden;
  padding: 10px;
}
.party-item {
  float: left;
  box-sizing: border-box;
  width: calc(100% / 4);

  padding: 30px;
  cursor: pointer;
}
.party-item:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.party-item-img {
  height: 238px;
}
.party-item-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.party-item.info {
  margin-top: 30px;
}
.party-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: ns-eb;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.party-item-writer,
.party-item-date {
  font-size: 0.9em;
  font-family: ns-b;
}
.party-page {
  margin-top: 30px;
}

/*시음회 목록 조회*/
.taste-write-btn {
  text-align: right;
  margin-bottom: 5px;
}
.taste-write-btn > button {
  width: 100px;
  font-family: ns-b;
}
.taste-list-wrap {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #ccc;
}
.taste-item {
  float: left;
  box-sizing: border-box;
  width: calc(100% / 3);
  padding: 45px;
  cursor: pointer;
  text-align: center;
}
.taste-item-img {
  border: 1px solid #ccc;
  height: 247px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 5px;
}
.taste-item-img > img {
  width: 310px;
  height: 247px;
  object-fit: contain;
}
.taste-item-title {
  font-size: 1.2em;
  font-family: ns-b;
}
.taste-item-date > span {
  font-weight: bold;
}
.taste-item-date > :nth-child(2) {
  margin: 0 5px;
}
.taste-page {
  clear: left;
}

/*등록된 시음회가 없을 경우*/
.tast-list-none {
  padding: 50px 0;
  text-align: center;
  font-size: 1.2em;
}

/*시음회 등록*/
.taste-frm-whole-wrap {
  width: 1000px;
  margin: 0 auto;
}
.taste-frm-title {
  padding-left: 10px;
  font-family: ns-b;
  font-size: 1.2em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  padding-left: 10px;
}
.taste-thumbnail {
  width: 35%;
  text-align: center;
  object-fit: contain;
  float: left;
  padding: 10px;
}
.taste-info {
  float: right;
  width: 60%;
  padding: 41px 0;
}
.taste-content-box {
  clear: both;
}
.taste-info-tbl {
  width: 100%;
  border-collapse: collapse;
}
.taste-info-tbl > tbody > tr > td {
  text-align: center;
}
.taste-info-tbl > tbody > tr > :first-child {
  width: 30%;
}
.teste-info-tbl > tbody > tr > :last-child {
  width: 70%;
}
.taste-info-tbl > tbody > :last-child > :last-child > input {
  border-bottom: 1px solid #ccc;
}
.taste-content-box {
  margin-bottom: 5px;
}
.taste-btn-box {
  text-align: right;
}
.taste-btn-box > button {
  width: 100px;
  font-family: ns-b;
}
.taste-btn-box > :first-child {
  margin-right: 10px;
}
.taste-content-box > .quill > .ql-container>.ql-editor>p {
  height: 400px;
}
