/*
핑크색
#FF6289
*/
@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSerifKR-Light.otf);
}
@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSerifKR-Regular.otf);
}
@font-face {
  font-family: ns-m;
  src: url(/public/font/NotoSerifKR-Medium.otf);
}
@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSerifKR-Bold.otf);
}
@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSerifKR-Black.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: ns-l;
}

a {
  text-decoration: none;
}

/* header */
header * {
  outline: none;
  list-style-type: none;
  text-decoration: none;
}
.main-logo {
  text-align: center;
  margin: 30px 0px;
}
.main-logo > img {
  object-fit: contain;
  width: 130px;
}

.header-navi {
  overflow: hidden;
  background-color: black;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}
.header-navi a {
  color: #fff;
}
.header-navi > div {
  float: left;
}
.notice {
  text-align: left;
  width: 300px;
}
.notice > span {
  margin-left: 10px;
}
.notice > span > a {
  font-size: 0.8em;
}
.member-group {
  text-align: right;
  width: 300px;
}
.member-group > span {
  margin-right: 10px;
}
.member-group > span > a {
  font-size: 0.8em;
}

.category {
  width: 500px;
}
.category ul {
  overflow: hidden;
}
.category > ul > li {
  float: left;
  width: calc(100% / 4);
  text-align: center;
}

.category > ul > li > a {
  display: block;
  text-align: center;
}
.category > ul > :nth-child(3) {
  color: #fff;
  cursor: pointer;
}
.category > ul > :nth-child(3):hover > ul {
  display: block;
}
.sub-navi-ul {
  position: absolute;
  display: none;
}
.sub-navi-ul > li {
  background-color: black;
  height: 40px;
  line-height: 40px;
  width: 125px;
}
/*------------------------------------------- header */
