* {
  margin: 0;
  padding: 0;
}

/*공지사항 메인(리스트)*/
.notice-all-wrap {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.notice-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.notice-list {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}
.notice-list tr {
  height: 40px;
}
.notice-list > tbody > tr {
  border-bottom: 1px solid #ccc;
}
.notice-list .notice-list > thead > tr > :first-child {
  width: 10%;
}
.notice-list > thead > tr > :nth-child(2) {
  width: 60%;
}
.notice-list > thead > tr > :nth-child(3) {
  width: 15%;
}
.notice-list > thead > tr > :last-child {
  width: 15%;
}
.notice-list > tbody > tr > :first-child,
.notice-list > tbody > tr > :nth-child(2),
.notice-list > tbody > tr > :nth-child(3),
.notice-list > tbody > tr > :last-child {
  text-align: center;
}

.notice-list > thead > tr {
  background-color: #4f4f4f;
}
.notice-list > thead > tr th {
  color: #fff;
}
.notice-list > tbody > tr {
  border-bottom: 1px solid #ccc;
}
.notice-list > tbody > tr:hover {
  background-color: #ccc;
  cursor: pointer;
}

.notice-write-btn {
  text-align: right;
  margin-bottom: 5px;
}
.notice-write-btn > button {
  width: 100px;
  font-family: ns-b;
}

/*공지사항 등록*/
.notice-frm-wrap {
  width: 1000px;
}
.notice-info-tbl {
  width: 100%;
}
.notice-info-tbl > tbody > tr > td > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
}

.notice-content-box {
  width: 100%;
  margin-bottom: 10px;
}
.quill {
  width: 100%;
}
.quill > .ql-toolbar {
  border: none;
  background-color: #ccc;
}
.quill > .ql-container {
  border: none;
  border-bottom: 1px solid #ccc;
  min-height: 300px;
  font-size: 1em;
}

.notice-frm-wrap > .notice-btn-box {
  text-align: right;
}
.notice-btn-box > button {
  width: 100px;
  font-family: ns-b;
}

/* 공지사항 상세 */
.notice-view-wrap {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.notice-view-title {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 1.1em;
}
.notice-view-info {
  text-align: right;
  height: 50px;
}
.notice-view-info > :last-child {
  float: right;
}
.notice-view-file {
  clear: both;
  text-align: center;
  margin: 20px 0;
}
.notice-view-detail {
  text-align: center;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.notice-view-btn {
  text-align: right;
  margin-bottom: 5px;
}
.notice-view-btn > :first-child,
.notice-view-btn > :nth-child(2) {
  margin-right: 10px;
}
.notice-view-btn > button {
  width: 100px;
  font-family: ns-b;
}
